{% extends 'base.html' %}

{% block content %}
<style>
    .address-filter {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }

    .address-filter button {
        margin-top: 15px;
        margin-left: 4px;
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<article class="inside-art w3-container">
    <div class="w3-content">
        <form method="get" class="address-filter">
            <p>
                <label for="address">Filter Address:</label>
                <input type="text" name="address" value="{{ request.GET.address }}" />
            </p>
            <button type="submit" class="w3-button w3-green w3-round"><i class="fas fa-search-location"></i></button>
        </form>
    </div>
</article>
{% endblock %}