{% extends 'base.html' %}

{% block content %}
<style>
    .inside-art img:first-child {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .photo {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    img {
        border-radius: 8px;
    }

    .photo img {
        max-width: 50px;
        max-height: 50px;
        object-fit: cover;
        border-radius: 100%;
        margin-right: 8px;
    }

    .photo p {
        font-weight: bold;
        font-size: 16px;
        margin: 0px;
    }
</style>

<article class="w3-container inside-art">
    <div class="w3-content">
        <img src="{{ item.photo.url }}">
        <h1>{{ item.name }}</h1>
        <p><i class="far fa-clock"></i> {{ item.date }}</p>
        <dl>
            <dt>
                <p class="w3-text-pink w3-large"><b>Posted by:</b></p>
            </dt>
            <dd>
                <div class="profile">
                    <div class="photo">
                        <img src="{{ item.user.photo.url }}">
                        <p>{{ item.user.name }}</p>
                    </div>
                    <div>
                        <p><b>Address:</b> {{ item.user.address }}</p>
                        <p><b>Contact Number:</b> {{ item.user.contact_number }}</p>
                        <p><b>Email:</b> {{ item.user.email }}</p>
                    </div>
                </div>
            </dd>
        </dl>
        {% if item.closed %}
        <dl>
            <dt>
                <p class="w3-text-pink w3-large"><b>Closed by:</b></p>
            </dt>
            <dd>
                <div class="profile">
                    <div class="photo">
                        <img src="{{ item.closed_by.photo.url }}">
                        <p>{{ item.closed_by.name }}</p>
                    </div>
                    <div>
                        <p><b>Address:</b> {{ item.closed_by.address }}</p>
                        <p><b>Contact Number:</b> {{ item.closed_by.contact_number }}</p>
                        <p><b>Email:</b> {{ item.closed_by.email }}</p>
                    </div>
                </div>
                {% if user == item.closed_by %}
                <div class="w3-card-4 w3-khaki w3-round-large w3-padding">
                    <p>You have closed this item! Be safe on your way.</p>
                    <div class="w3-right-align">
                        <a href="{% url 'item-close-toggle' pk=item.pk %}"
                            class="w3-button w3-card w3-green w3-round-large">
                            <i class="fas fa-unlock"></i> Undo
                        </a>
                    </div>
                </div>
                {% endif %}
            </dd>
        </dl>
        {% endif %}
        <p><b class="w3-text-pink w3-large">Description:</b> {{ item.description }}</p>
        <p><b class="w3-text-pink w3-large">Expected Price:</b> {{ item.expected_price }}</p>
        <p><b class="w3-text-pink w3-large">Expected Store:</b> {{ item.expected_store }}</p>
        {% if user != item.user and item.closed == False %}
        <div class="w3-card-4 w3-khaki w3-round-large w3-padding">
            <p>Do you know this item, and you know where to buy it, and the store is near you? Do you want to deliver
                this? Close it now!</p>
            <div class="w3-right-align">
                <a href="{% url 'item-close-toggle' pk=item.pk %}"
                    class="w3-button w3-card w3-green w3-round-large">
                    <i class="fas fa-lock"></i> Secure Item
                </a>
            </div>
        </div>
        {% endif %}

        {% if user == item.user and item.closed and item.delivered == False %}
        <p class="w3-text-red w3-center">Your post has been closed already and you can no longer modify it.</p>
        <div class="w3-card-4 w3-khaki w3-round-large w3-padding">
            <p>Did <b>{{ item.closed_by.name }}</b> deliver this item to you already?</p>
            <div class="w3-right-align">
                <a href="{% url 'item-delivered' pk=item.pk %}" class="w3-button w3-card w3-green w3-round-large">
                    <i class="fas fa-check-circle"></i> Yes
                </a>
            </div>
        </div>
        {% endif %}

        {% if user == item.user and item.delivered %}
        <p class="w3-text-green w3-center">This item has been delivered to you already. Thank you for using BringMe!</p>
        {% endif %}

        <hr>
        <div class="w3-right-align">
            <a href="{% url 'items-list' %}" class="w3-button w3-card w3-round-large">
                <i class="fas fa-arrow-circle-left"></i> Back
            </a>
            {% if user == item.user and item.closed == False %}
            <a href="{% url 'item-delete' pk=item.pk %}" class="w3-button w3-card w3-red w3-round-large">
                <i class="far fa-trash-alt"></i> Delete
            </a>
            <a href="{% url 'item-update' pk=item.pk %}" class="w3-button w3-card w3-green w3-round-large">
                <i class="fas fa-pencil-alt"></i> Edit
            </a>
            {% endif %}
        </div>
    </div>
</article>
{% endblock %}