{% extends 'base.html' %}

{% block title %}/ Update Post{% endblock %}

{% block content %}
<style>
    .inside-art img {
        width: 100%;
        height: 300px;
        border-radius: 8px;
        object-fit: cover;
    }
</style>

<article class="w3-container inside-art">
    <div class="w3-content">

        <img src="{{ form.photo.value.url }}">

        <h1>{{ form.name.value }}</h1>
        <p>Be sure to input correctly the item's name and give it a very detailed description. The expected price for
            this item could be the price of it when you bought it yourself. The expected store could be where you bought
            it last time. Once someone closes this
            post, you can <b>no longer edit or delete it</b>. Kindly pay the rider once the item has been delivered to
            you.</p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="w3-right-align">
                <a href="{% url 'item-detail' pk=form.instance.pk %}" class="w3-button w3-card w3-round-large">
                    <i class="fas fa-arrow-circle-left"></i> Back
                </a>
                <a href="{% url 'item-delete' pk=form.instance.pk %}" class="w3-button w3-card w3-pink w3-round-large">
                    <i class="far fa-trash-alt"></i> Delete
                </a>
                <button type="submit" class="w3-button w3-green w3-card w3-round-large">
                    <i class="fas fa-pencil-alt"></i> Update
                </button>
            </div>
        </form>
    </div>
</article>
{% endblock %}