{% extends 'base.html' %}

{% block title %}/ What?{% endblock %}

{% block content %}
<article class="w3-container inside-art">
    <div class="w3-content">

        <h1>Post an item!</h1>
        <p>Be sure to input correctly the item's name and give it a very detailed description. The expected price for
            this item could be the price of it when you bought it yourself. The expected store could be where you bought
            it last time. Once someone closes this
            post, you can <b>no longer edit or delete it</b>. Kindly pay the rider once the item has been delivered to
            you.</p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="w3-right-align">
                <a href="{% url 'items-list' %}" class="w3-button w3-card w3-round-large">
                    <i class="fas fa-arrow-circle-left"></i> Back
                </a>
                <button type="submit" class="w3-button w3-green w3-card w3-round-large">
                    <i class="fas fa-paper-plane"></i> Post
                </button>
            </div>
        </form>
    </div>
</article>
{% endblock %}