{% extends 'base.html' %}

{% block content %}
<style>
    .inside-art img:first-child {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .photo {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
    }

    .photo img {
        max-width: 50px;
        max-height: 50px;
        object-fit: cover;
        border-radius: 100%;
        margin-right: 8px;
    }

    .photo p {
        font-weight: bold;
        font-size: 16px;
        margin: 0px;
    }
</style>

<article class="w3-container inside-art">
    <div class="w3-content">
        <img src="{{ item.photo.url }}">
        <h1>{{ item.name }}</h1>
        <p><i class="far fa-clock"></i> {{ item.date }}</p>
        <dl>
            <dt>
                <h4 class="w3-text-pink">Posted by:</h4>
            </dt>
            <dd>
                <div class="profile">
                    <div class="photo">
                        <img src="{{ item.user.photo.url }}">
                        <p>{{ item.user.name }}</p>
                    </div>
                    <div>
                        <p><b>Address:</b> {{ item.user.address }}</p>
                        <p><b>Contact Number:</b> {{ item.user.contact_number }}</p>
                        <p><b>Email:</b> {{ item.user.email }}</p>
                    </div>
                </div>
            </dd>
            <dt>
                <h4 class="w3-text-pink">Description:</h4>
            </dt>
            <dd>{{ item.description }}</dd>
            <dt>
                <h4 class="w3-text-pink">Expected Price:</h4>
            </dt>
            <dd>{{ item.expected_price }}</dd>
            <dt>
                <h4 class="w3-text-pink">Expected Store:</h4>
            </dt>
            <dd>{{ item.expected_store }}</dd>
        </dl>
    </div>
</article>
{% endblock %}