{% extends 'base.html' %}

{% block content %}
<style>
    .address-filter {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        margin: 30px 0px;
    }

    .address-filter button {
        margin-top: 15px;
        margin-left: 4px;
        height: 44px;
        width: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .address-filter:hover button {
        background: #2196F3 !important;
        color: white !important;
    }

    .address-filter p {
        margin: 0px !important;
    }

    .post {
        border-radius: 8px;
        border: 1px solid gray;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
        margin: 50px 0px;
    }

    .post .top {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 8px;
    }

    .post .links {
        padding: 8px;
    }

    .post .top>div {
        display: flex;
        align-items: center;
    }

    .post .bottom {
        padding: 8px;
    }

    .post .text {
        padding: 0px 8px 8px 8px;
    }

    .post .text p {
        margin: 5px 0px;
    }

    .post .top img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }

    .post .top p {
        margin: 0px;
    }

    .post .top div {
        margin-left: 8px;
    }

    .post .item-pic {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .pagination {
        text-align: center;
    }

    .pagination a {
        text-decoration: none;
        color: #2196F3;
    }

    .divider {
        margin: 50px 0px;
        border: 0.5px solid black;
    }
</style>

<article class="inside-art w3-container">
    <div class="w3-content">
        <form method="get" class="address-filter">
            <p>
                <label for="address">Filter Address:</label>
                <input type="text" name="address" value="{{ request.GET.address }}" />
            </p>
            <button type="submit" class="w3-button w3-gray w3-round"><i class="fas fa-search-location"></i></button>
        </form>
        <a href="{% url 'item-create' %}" class="w3-button w3-block w3-green w3-round-large"><i
                class="far fa-paper-plane"></i>
            Post</a>

        {% if items.count == 0 %}
        <p class="w3-center w3-large"><i class="fas fa-heart-broken w3-text-red"></i> There are no posts with your
            address or filter. Perhaps, all of them have been closed already or nobody's posting yet.</p>
        {% endif %}

        {% for i in items %}
        <div class="post">
            <div class="top">
                <img src="{{ i.user.photo.url }}">
                <div>
                    <p class="w3-large"><b class="w3-text-pink">{{ i.user.name }}</b> from <b>{{ i.user.address }}</b>
                        <br><span class="w3-small"><i class="far fa-clock"></i>
                            {{ i.date }}</span></p>
                </div>
            </div>
            <div class="text">
                <p>Hi! Can someone please buy me <b>"{{ i.name }}"</b>?</p>
            </div>
            <img src="{{ i.photo.url }}" class="item-pic">
            <div class="w3-right-align bottom">
                <a href="{% url 'item-detail' pk=i.pk %}" class="w3-button w3-card w3-green w3-round-large"><i
                        class="fas fa-long-arrow-alt-right"></i> View</a>
            </div>
        </div>
        {% endfor %}

        {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&address={{ request.GET.address }}"><i
                        class="fas fa-arrow-circle-left"></i></a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&address={{ request.GET.address }}"><i
                        class="fas fa-arrow-circle-right"></i></a>
                {% endif %}
            </span>
        </div>
        {% endif %}

        {% if user_items_closed.count %}
        <hr class="divider">
        <h2><i class="fas fa-lock"></i> Your closed posts.</h2>
        <p>Here are the links to your posts that have been closed (secured) by other users. These items you posted are
            on their way already.</p>
        {% for i in user_items_closed %}
        <p class="w3-text-blue"><a href="{% url 'item-detail' pk=i.pk %}"><i class="fas fa-long-arrow-alt-right"></i>
                {{ i.name }} closed by {{ i.closed_by.name }}</a></p>
        {% endfor %}
        {% endif %}

        {% if items_closed_by_user.count %}
        <hr class="divider">
        <h2><i class="fas fa-lock"></i> Posts you've closed.</h2>
        <p>Here are the links to the post you've closed. They are not yet marked as delivered by the owners.</p>
        {% for i in items_closed_by_user %}
        <p class="w3-text-pink"><a href="{% url 'item-detail' pk=i.pk %}"><i class="fas fa-long-arrow-alt-right"></i>
                {{ i.name }} posted by {{ i.user.name }}</a></p>
        {% endfor %}
        {% endif %}

        {% if items_delivered_by_user.count %}
        <hr class="divider">
        <h2><i class="fas fa-motorcycle"></i> Recent items you've delivered.</h2>
        <p>Here are the links to the posts of items you've delivered recently.</p>
        {% for i in items_delivered_by_user %}
        <p class="w3-text-green"><a href="{% url 'item-detail' pk=i.pk %}"><i class="fas fa-long-arrow-alt-right"></i>
                {{ i.name }} delivered to {{ i.user.name }}</a></p>
        {% endfor %}
        {% endif %}
    </div>
</article>
{% endblock %}