{% extends 'base.html' %}

{% block title %}/ Login{% endblock %}

{% block content %}
<style>
    .inside-art {
        max-width: 400px;
    }
</style>

<article class="w3-container inside-art">
    <div class="w3-content">
        <h1><i class="fas fa-sign-in-alt w3-text-green"></i> Login</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <hr>
            <div class="w3-right-align">
                <a href="{% url 'django_registration_register' %}" class="w3-button w3-card w3-round-large"><i
                        class="fas fa-user-plus"></i>
                    Register</a>
                <button type="submit" class="w3-button w3-card w3-green w3-round-large"><i
                        class="fas fa-sign-in-alt"></i>
                    Login</button>
            </div>
            <p><a href="{% url 'password_reset' %}" class="w3-text-blue">I have forgotten my password.</a></p>
        </form>
    </div>
</article>
{% endblock %}