{% extends 'base.html' %}

{% block title %}/ Password Changed{% endblock %}

{% block content %}
<article class="w3-container inside-art">
    <div class="w3-content">
        <h2><i class="fas fa-check w3-text-green"></i> Password changed</h2>
        <p>Your password has been successfully changed. You can login now using your new password.</p>
        <div class="w3-right-align">
            <a href="{% url 'login' %}" class="w3-button w3-card w3-green w3-round-large">
                <i class="fas fa-sign-in-alt"></i> Login</a>
        </div>
    </div>
</article>
{% endblock %}