{% extends 'accounts/emails/base.html' %}

{% load static %}

{% block styles %}
<style type="text/css">
    section {
        font-family: 'Nunito';
        padding: 0px 10px 0px 10px;
    }

    .btns {
        text-align: right;
    }

    section .btns {
        text-align: right;
    }

    h3 {
        text-align: center;
    }
</style>
{% endblock %}

{% block message %}
<section>
    <p>Good Day!</p>
    <p>Someone asked for password reset for your email <b>{{ email }}</b>. We are hoping that it was you. Click the
        button
        below to change your password. If this wasn't you, we recommend that you change your password anyway.</p>
    <p class="btns">
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
            class="w3-button w3-round-xxlarge w3-green"><i class="fa fa-key"></i> Change Password</a>
    </p>
</section>
{% endblock %}