{% extends 'base.html' %}

{% block title %}/ Link Sent{% endblock %}

{% block content %}
<article class="w3-container inside-art">
    <div class="w3-content">
        <h2><i class="far fa-paper-plane w3-text-green"></i> Link sent</h2>
        <p>A password reset link has been sent to your email. Click it to reset your password.</p>
        <div class="w3-right-align">
            <a href="{% url 'password_reset' %}" class="w3-button w3-card w3-green w3-round-large">
                <i class="far fa-paper-plane"></i> Resend</a>
        </div>
    </div>
</article>
{% endblock %}