{% extends 'base.html' %}

{% block title %}/ Reset Password{% endblock %}

{% block content %}
<style>
    .inside-art {
        max-width: 400px;
    }
</style>
<article class="w3-container inside-art">
    <div class="w3-content">
        <h2><i class="fas fa-wrench"></i> Reset password</h2>
        <p>A password reset link will be sent to your email.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="w3-right-align">
                <a href="{% url 'profile-update' %}" class="w3-button w3-card w3-round-large">
                    <i class="fas fa-arrow-circle-left"></i> Back
                </a>
                <button type="submit" class="w3-button w3-green w3-card w3-round-large"><i
                        class="far fa-paper-plane"></i>
                    Send</button>
            </div>
        </form>
    </div>
</article>
{% endblock %}