% extends 'base.html' %}

{% block content %}
<style>
    .inside-art {
        max-width: 400px;
    }
</style>

<article class="w3-container inside-art">
    <div class="w3-content">
        <h1><i class="fas fa-key w3-text-yellow"></i> Change password</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="w3-right-align">
                <button type="submit" class="w3-button w3-card w3-green w3-round-large"><i class="fas fa-pencil"></i>
                    Change</button>
            </div>
        </form>
    </div>
</article>
{% endblock %}