{% extends 'base.html' %}

{% block content %}
<style>
    .inside-art {
        max-width: 400px;
    }

    .inside-art img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 100%;
    }

    .profile-top {
        text-align: center;
    }
</style>

<article class="w3-container inside-art">
    <div class="w3-content">
        <div class="profile-top">
            <img src="{{ form.instance.photo.url }}">

            <h1>{{ form.instance.name }}</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <label for="id_name">Name:</label>
                {{ form.name }}
            </p>
            <p>
                <label for="id_address">Address:</label>
                {{ form.address }}
            </p>
            <p>
                <label for="id_contact_number">Contact Number:</label>
                {{ form.contact_number }}
            </p>
            <p>
                <label for="id_email">Email address:</label>
                {{ form.email }}
            </p>
            <p>
                <label for="id_photo">Change Photo:</label>
                <input type="file" name="photo" id="id_photo" accept="image/*">
            </p>
            <div class="w3-right-align">
                <a href="{% url 'logout' %}" class="w3-button w3-card w3-round-large">
                    <i class="far fa-sad-tear"></i> Logout</a>
                <button type="submit" class="w3-button w3-green w3-card w3-round-large">
                    <i class="far fa-save"></i> Save
                </button>
            </div>
        </form>
        <p><a href="{% url 'password_change' %}" class="w3-text-blue">I want to change my password.</a></p>
    </div>
</article>
{% endblock %}