{% extends 'base.html' %}

{% block content %}
<article class="w3-container inside-art">
    <div class="w3-content">
        <h2><i class="far fa-paper-plane w3-text-green"></i> Verification Link Sent</h2>
        <p>Your registration is complete, but your account is not active yet. Check your email and click the link sent
            to activate your account.</p>
        <div class="w3-right-align">
            <a href="{% url 'login' %}" class="w3-button w3-card w3-green w3-round-large">
                <i class="fas fa-sign-in-alt"></i> Login</a>
        </div>
    </div>
</article>
{% endblock %}